body{
	background-color: #5bc0de;
}

input[type=text], input[type=email], textarea, select{
	width: 100%;
}


input[type= submit]:hover{
	background-color:#5bc0de;
	color:white;
	cursor: pointer;

}

input[type= submit]{
	margin-left: 150px;
	margin-top: 30px;
}

h1{
	margin-bottom: 30px;
}
