
body{
	background-color: #d9d9d9;
}

.black{
	background-color:#5bc0de;
	color:white;
	position: fixed;
	z-index: 10000;
}

.pozadina{
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

img:hover{
	box-shadow: 10px 10px 10px;
	cursor: pointer;
}

.sliki p{
	padding-top: 20px;
}

a{
	color: white;
}

li:hover{
	color: #bfbfbf;
	text-decoration: none;
}

input, textarea{
	width: 100%;
}

form{
	 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #5bc0de;
}

textarea{
	margin-bottom: 10px;
}

.footer{
	background-color:#5bc0de;
}

.ime{
	text-align: left;
	padding-top: 20px;
}

.icon{
	padding-top: 20px;
}